
<div class="panel panel-default">
  <div class="panel-heading dirtitle"><%= @dir %></div>
  <div class="panel-body">
    <div class="menu-buttons bootstrap">
      <button type="button" class="icon icon-view btn btn-default btn-sm" onclick="CloudCmd['View'].show()">View</button>
      <button type="button" class="icon icon-edit btn btn-default btn-sm" onclick="CloudCmd['Edit'].show()">Edit</button>
      <button type="button" class="icon icon-rename btn btn-default btn-sm" onclick="DOM.renameCurrent()">Rename</button>
      <button type="button" class="icon icon-download btn btn-primary btn-sm" onclick="download()">Download</button>
      <button type="button" class="icon icon-copy btn btn-default btn-sm" onclick="DOM.Buffer.copy()">Copy</button>
      <button type="button" class="icon icon-unselect-all btn btn-default btn-sm" onclick="DOM.toggleAllSelectedFiles()">(Un)Select All</button>
      <button type="button" class="icon icon-delete btn btn-danger btn-sm pull-right" onclick="CloudCmd.Operation.show('delete');">Delete</button>
      <div class="panel-btns">
        <button type="button" class="icon icon-console btn btn-default btn-sm" onclick="terminal()">Open in Terminal</button>
        <button type="button" class="icon icon-paste btn btn-default btn-sm" onclick="DOM.Buffer.paste()">Paste</button>
        <button type="button" class="icon icon-file btn btn-default btn-sm" onclick="DOM.promptNewFile()">New File</button>
        <button type="button" class="icon icon-directory btn btn-default btn-sm" onclick="DOM.promptNewDir()">New Dir</button>
        <button type="button" class="icon icon-upload btn btn-default btn-sm" onclick="CloudCmd.Upload.show();">Upload</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table id="files" class="table table-striped table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Size</th>
          <th>Modified Date</th>
        </tr>
      </thead>
    </table>
  </div>
</div>



<script>
(function(){
 cloudcmd("<%= @dir %>");
})();
</script>
