<h1><%= @dir %></h1>
<p>Find me in app/views/files/index.html.erb</p>


<table id="files" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Modified Date</th>
    </tr>
  </thead>
</table>

<script>
(function(){
 cloudcmd("<%= @dir %>");
})();
</script>
